@import "flowbite";
@tailwind base;
@tailwind components;
@tailwind utilities;

.items-row {
    position: relative;
    display: flex;
    height: 3.2rem;
    color: #718096;
    background-color: rgba(55, 65, 81, 0.2);
    align-items: center;
    will-change: contents;
}
